# Environment variables for Nhost / Hasura Functions
GROQ_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
SLACK_WEBHOOK_URL=
NHOST_GRAPHQL_URL=http://localhost:8080/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=nhost-admin-secret
